Repository t-moriyama-r/sake-db: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-fmt, go-lint, go-vet, graphql-validate

frontend-lint:
  tags: frontend
  run: cd front && npx eslint {staged_files}

go-fmt:
  tags: backend
  run: "if ! gofmt -l {staged_files} | grep .; then\n  echo \"✓ Go formatting check passed\"\nelse\n  echo \"✗ Go files are not formatted. Run 'gofmt -w' on the files above.\"\n  exit 1\nfi\n"

go-lint:
  tags: backend
  ...

go-vet:
  tags: backend
  run: go vet {staged_files}

graphql-validate:
  tags: backend graphql
  ...

pr自動化
  front/.claude/commands/pr-sh.md
  front/.claude/commands/pr.md
  front/ai-pr-draft-ja.sh
Due: none

不要なrootのlefthookの削除
  lefthook.yml
  package.json
Due: none

prepareがlinux向けの書き方だったらしいので修正
  front/package.json
Due: none

Update image display format in README
  README.md
Due: none

Add automatic PR generation section to README
  README.md
Due: none

Revise automatic PR generation section with Claude Code
  README.md
Due: none

Update front/src/views/Edit/CategoryEdit/form/CategoryEdit.vue
  front/src/views/Edit/CategoryEdit/form/CategoryEdit.vue
Due: frontend-lint

Update front/src/router/index.ts
  front/src/router/index.ts
Due: frontend-lint

Update front/src/views/Discovery/TagSearch/FromTag.vue
  front/src/views/Discovery/TagSearch/FromTag.vue
Due: frontend-lint

Update backend/db/repository/liquorRepository/tagsRepository.go
  backend/db/repository/liquorRepository/tagsRepository.go
Due: go-fmt, go-lint, go-vet

lefthookが余計なものまで参照しているので修正
  front/.eslintignore
  front/.gitignore
  front/src/views/Discovery/Details/Liquor/tag/LiquorTag.vue
  front/src/views/Discovery/Details/Liquor/tag/TagInput.vue
  front/src/views/Discovery/TagSearch/FromTag.vue
  front/src/views/Discovery/TagSearch/TagSearchPage.vue
Due: frontend-lint

lefthookの修正
  backend/.lefthook.yml
  front/.lefthook.yml
Due: none

スクロールバー関連のバグ修正
  front/src/styles/main.css
  front/src/views/MyPage/MyPageIndex/MyPageIndex.vue
Due: frontend-lint

スクロールバー関連のバグ修正
  front/.eslintignore
  front/.gitignore
Due: none

Update front/src/views/MyPage/MyPageIndex/BookmarkList.vue
  front/src/views/MyPage/MyPageIndex/BookmarkList.vue
Due: frontend-lint

fix: リベース後のgo.mod重複依存関係を修正
  backend/go.mod
Due: none

instructionsファイルの更新
  .github/copilot-instructions.md
  front/src/views/MyPage/MyPageIndex/BookmarkList.vue
Due: frontend-lint

ログインコンポーネントの型エラーを修正
  front/src/components/blocks/auth/LoginForm/LoginForm.vue
Due: frontend-lint

readmeの変更
  README.md
  document/setting.md
  front/test-output.txt
  front/test-script.sh
Due: none

PR生成シェルの修正
  ai-pr-draft-ja.sh
Due: none

Update backend and proxy server instructions in setting.md
  document/setting.md
Due: none

Update setting.md
  document/setting.md
Due: none

Enhance setup instructions in setting.md
  document/setting.md
Due: none

Revise SSL certificate generation instructions
  document/setting.md
Due: none

Path conditions:
  frontend-lint: any of: front/**/*.{js,ts,vue}
  go-fmt: any of: **/*.go and ^backend/
  go-lint: any of: **/*.go and ^backend/
  go-vet: any of: **/*.go and ^backend/
  graphql-validate: any of: backend/graph/schema/*.graphqls
